{% extends 'default.html' %}

{% block title %}Network Tools{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <form method="post" class="form-custom">
        IP Address: <input type="text" name="ip" class="form-control" required><br>
        Ports: <input type="text" name="ports" class="form-control" placeholder="80,443"><br>
        Flags: <input type="text" name="flags" class="form-control" placeholder="-sV"><br>
        <input type="submit" value="Scan" class="btn btn-primary">
    </form>
</div>

<!-- Result display section -->
<div class="container mt-3">
    <h4>Scan Results:</h4>
    <div class="result-box">
    {% if scan_results %}
        
            {% for host in scan_results %}
                <h5>IP: {{ host['IP'] }}</h5>
                {% for port, state, service, product, version in host['Ports'] %}
                    <h5>Port: {{ port }}</h5>
                    <h5>State: {{ state }}</h5>
                    <h5>Service: {{ service }}</h5>
                    <h5>Product: {{ product }}</h5>
                    <h5>Version: {{ version }}</h5>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}

        <p>No results to display.</p>
    {% endif %}
</div>
</div>
{% endblock %}